.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #c4c4c4;
  font-size: 14px;
  line-height: 1;
}

.form-control textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #c8c8c8;
  font-size: 14px;
}

.form-control input:focus {
  outline: none;
  background: #ffffff;
  border-color: #b9b9b9;
}

.form-control textarea:focus {
  outline: none;
  background: #ffffff;
  border-color: #b9b9b9;
}

.form-control.invalid input {
  border-color: red;
  background: rgb(255, 150, 150);
}

.form-control.invalid textarea {
  border-color: red;
  background: rgb(255, 150, 150);
}

.form-control.invalid label {
  color: red;
}
