.ad-banner {
  display: flex; /* Flexbox 레이아웃 사용 */
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.ad-image {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
