.post-preview-container {
  border: 1px solid #ccc;
  padding: 20px;
}
.post-preview-container span {
  margin-right: 10px;
}

.post-preview-container span:last-child {
  margin-right: 0;
}

.post-date {
  font-style: italic;
}

.post-preview-container__title {
  font-size: x-large;
}

.post-preview-container__author {
  font-size: medium;
  color: grey;
}
