.text-preview {
  display: flex;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.text-preview.left {
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 10px;
}

.text-preview.right {
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}
